In [33]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
from sqlalchemy import create_engine
import psycopg2
URL = 'http://books.toscrape.com/catalogue/page-{page}.html'

In [2]:
books=[]  # A list to store book

for page in range(1,51): # Loop through pages
    response = requests.get(URL.format(page=page))
    soup = BeautifulSoup(response.content, "html.parser")
    
    table = soup.find('ol', class_='row') 
    
    for row in table.findAll('article', class_='product_pod'): 
        book = {}
        book['Title'] = row.h3.a['title']
        book['Price'] = row.find('p', class_='price_color').text
        book['Rating'] = row.find('p', class_='star-rating')['class'][1]
        book['Availability'] = row.find('p', class_='instock availability').text.strip()
        books.append(book)

    print(book)

{'Title': "It's Only the Himalayas", 'Price': '£45.17', 'Rating': 'Two', 'Availability': 'In stock'}
{'Title': "You can't bury them all: Poems", 'Price': '£33.63', 'Rating': 'Two', 'Availability': 'In stock'}
{'Title': 'The Natural History of Us (The Fine Art of Pretending #2)', 'Price': '£45.22', 'Rating': 'Three', 'Availability': 'In stock'}
{'Title': 'Rat Queens, Vol. 3: Demons (Rat Queens (Collected Editions) #11-15)', 'Price': '£50.40', 'Rating': 'Three', 'Availability': 'In stock'}
{'Title': 'In the Country We Love: My Family Divided', 'Price': '£22.00', 'Rating': 'Four', 'Availability': 'In stock'}
{'Title': 'Avatar: The Last Airbender: Smoke and Shadow, Part 3 (Smoke and Shadow #3)', 'Price': '£28.09', 'Rating': 'Two', 'Availability': 'In stock'}
{'Title': 'The Stranger', 'Price': '£17.44', 'Rating': 'Four', 'Availability': 'In stock'}
{'Title': 'The Cookies & Cups Cookbook: 125+ sweet & savory recipes reminding you to Always Eat Dessert First', 'Price': '£41.25', 'Rating': 'One', 'Availability': 'In stock'}
{'Title': 'Mrs. Houdini', 'Price': '£30.25', 'Rating': 'Five', 'Availability': 'In stock'}
{'Title': 'Deliciously Ella Every Day: Quick and Easy Recipes for Gluten-Free Snacks, Packed Lunches, and Simple Meals', 'Price': '£42.16', 'Rating': 'Three', 'Availability': 'In stock'}
{'Title': 'Why the Right Went Wrong: Conservatism--From Goldwater to the Tea Party and Beyond', 'Price': '£52.65', 'Rating': 'Four', 'Availability': 'In stock'}
{'Title': 'The Rosie Project (Don Tillman #1)', 'Price': '£54.04', 'Rating': 'One', 'Availability': 'In stock'}
{'Title': 'Take Me with You', 'Price': '£45.21', 'Rating': 'Three', 'Availability': 'In stock'}
{'Title': 'Naruto (3-in-1 Edition), Vol. 14: Includes Vols. 40, 41 & 42 (Naruto: Omnibus #14)', 'Price': '£38.39', 'Rating': 'Two', 'Availability': 'In stock'}
{'Title': 'Hush, Hush (Hush, Hush #1)', 'Price': '£47.02', 'Rating': 'Three', 'Availability': 'In stock'}
{'Title': 'Cometh the Hour (The Clifton Chronicles #6)', 'Price': '£25.01', 'Rating': 'Three', 'Availability': 'In stock'}
{'Title': 'Angels & Demons (Robert Langdon #1)', 'Price': '£51.48', 'Rating': 'Three', 'Availability': 'In stock'}
{'Title': 'The Silent Sister (Riley MacPherson #1)', 'Price': '£46.29', 'Rating': 'Five', 'Availability': 'In stock'}
{'Title': 'How to Speak Golf: An Illustrated Guide to Links Lingo', 'Price': '£58.32', 'Rating': 'Five', 'Availability': 'In stock'}
{'Title': 'Off the Hook (Fishing for Trouble #1)', 'Price': '£47.67', 'Rating': 'Three', 'Availability': 'In stock'}
{'Title': '10-Day Green Smoothie Cleanse: Lose Up to 15 Pounds in 10 Days!', 'Price': '£49.71', 'Rating': 'Five', 'Availability': 'In stock'}
{'Title': "Don't Forget Steven", 'Price': '£33.23', 'Rating': 'One', 'Availability': 'In stock'}
{'Title': 'Shadows of the Past (Logan Point #1)', 'Price': '£39.67', 'Rating': 'Five', 'Availability': 'In stock'}
{'Title': 'History of Beauty', 'Price': '£10.29', 'Rating': 'Four', 'Availability': 'In stock'}
{'Title': 'The Whale', 'Price': '£35.96', 'Rating': 'Four', 'Availability': 'In stock'}
{'Title': 'Playing from the Heart', 'Price': '£32.38', 'Rating': 'One', 'Availability': 'In stock'}
{'Title': 'Blue Like Jazz: Nonreligious Thoughts on Christian Spirituality', 'Price': '£25.77', 'Rating': 'One', 'Availability': 'In stock'}
{'Title': 'The Collected Poems of W.B. Yeats (The Collected Works of W.B. Yeats #1)', 'Price': '£15.42', 'Rating': 'Five', 'Availability': 'In stock'}
{'Title': 'A Year in Provence (Provence #1)', 'Price': '£56.88', 'Rating': 'Four', 'Availability': 'In stock'}
{'Title': 'The Expatriates', 'Price': '£44.58', 'Rating': 'Two', 'Availability': 'In stock'}
{'Title': 'Kill the Boy Band', 'Price': '£15.52', 'Rating': 'Five', 'Availability': 'In stock'}
{'Title': "America's War for the Greater Middle East: A Military History", 'Price': '£51.22', 'Rating': 'Two', 'Availability': 'In stock'}
{'Title': 'Some Women', 'Price': '£13.73', 'Rating': 'Five', 'Availability': 'In stock'}
{'Title': 'Fruits Basket, Vol. 4 (Fruits Basket #4)', 'Price': '£50.44', 'Rating': 'Four', 'Availability': 'In stock'}
{'Title': 'We Are All Completely Beside Ourselves', 'Price': '£24.04', 'Rating': 'One', 'Availability': 'In stock'}
{'Title': 'The Smitten Kitchen Cookbook', 'Price': '£23.59', 'Rating': 'One', 'Availability': 'In stock'}
{'Title': 'The Lonely Ones', 'Price': '£43.59', 'Rating': 'Five', 'Availability': 'In stock'}
{'Title': 'The Day the Crayons Came Home (Crayons)', 'Price': '£26.33', 'Rating': 'Five', 'Availability': 'In stock'}
{'Title': 'Shopaholic & Baby (Shopaholic #5)', 'Price': '£46.45', 'Rating': 'Two', 'Availability': 'In stock'}
{'Title': 'One for the Money (Stephanie Plum #1)', 'Price': '£32.87', 'Rating': 'Two', 'Availability': 'In stock'}
{'Title': 'Lady Renegades (Rebel Belle #3)', 'Price': '£53.04', 'Rating': 'Five', 'Availability': 'In stock'}
{'Title': 'Golden (Heart of Dread #3)', 'Price': '£42.21', 'Rating': 'Four', 'Availability': 'In stock'}
{'Title': 'Cosmos', 'Price': '£36.17', 'Rating': 'Two', 'Availability': 'In stock'}
{'Title': 'Are We Smart Enough to Know How Smart Animals Are?', 'Price': '£56.58', 'Rating': 'One', 'Availability': 'In stock'}
{'Title': 'Girl Online On Tour (Girl Online #2)', 'Price': '£53.47', 'Rating': 'One', 'Availability': 'In stock'}
{'Title': 'The Selfish Gene', 'Price': '£29.45', 'Rating': 'One', 'Availability': 'In stock'}
{'Title': 'The Communist Manifesto', 'Price': '£14.76', 'Rating': 'Three', 'Availability': 'In stock'}
{'Title': 'One Second (Seven #7)', 'Price': '£52.94', 'Rating': 'Two', 'Availability': 'In stock'}
{'Title': 'Fruits Basket, Vol. 1 (Fruits Basket #1)', 'Price': '£40.28', 'Rating': 'Five', 'Availability': 'In stock'}
{'Title': '1,000 Places to See Before You Die', 'Price': '£26.08', 'Rating': 'Five', 'Availability': 'In stock'}

In [4]:
df = pd.DataFrame(books, columns=['Title', 'Price', 'Rating', 'Availability']) # Creating DataFrame with Pandas
df

,Title,Price,Rating,Availability
0,A Light in the Attic,£51.77,Three,In stock
1,Tipping the Velvet,£53.74,One,In stock
2,Soumission,£50.10,One,In stock
3,Sharp Objects,£47.82,Four,In stock
4,Sapiens: A Brief History of Humankind,£54.23,Five,In stock
...,...,...,...,...
995,Alice in Wonderland (Alice's Adventures in Won...,£55.53,One,In stock
996,"Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)",£57.06,Four,In stock
997,A Spy's Devotion (The Regency Spies of London #1),£16.97,Five,In stock
998,1st to Die (Women's Murder Club #1),£53.98,One,In stock
999,"1,000 Places to See Before You Die",£26.08,Five,In stock

In [23]:
df.to_csv('books_webscraping.csv') # Save DataFrame as CSV

In [40]:
engine = create_engine('postgresql+psycopg2://user:password@localhost:5432/db_name') # Save DataFrame in a local PostgreSQL
df.to_sql('table_name', engine, if_exists='replace', index=False)

1000